/* line 1, ../sass/partials/_main.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/partials/_main.sass */
html {
  height: 100%;
}

/* line 9, ../sass/partials/_main.sass */
body {
  background-size: 100% 100%;
  margin: 2em;
}
@media (max-width: 651px) {
  /* line 9, ../sass/partials/_main.sass */
  body {
    margin: 0.5em;
  }
}

/* line 15, ../sass/partials/_main.sass */
.pageOne {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 360px;
  background: #333;
  padding: 1em;
  color: #ccc;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 1s right ease;
  -moz-transition: 1s right ease;
  -ms-transition: 1s right ease;
  -o-transition: 1s right ease;
  transition: 1s right ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 651px) {
  /* line 15, ../sass/partials/_main.sass */
  .pageOne {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 33, ../sass/partials/_main.sass */
.pageTwo {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 320px;
  background: #ccc;
  padding: 1em;
  color: #fff;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 1s left ease;
  -moz-transition: 1s left ease;
  -ms-transition: 1s left ease;
  -o-transition: 1s left ease;
  transition: 1s left ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 651px) {
  /* line 33, ../sass/partials/_main.sass */
  .pageTwo {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    height: 420px;
  }
}

/* line 53, ../sass/partials/_main.sass */
.header-font {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  color: #666;
}

/* line 60, ../sass/partials/_main.sass */
.main-title {
  font-family: "Arial";
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  color: #666;
}
@media (max-width: 651px) {
  /* line 60, ../sass/partials/_main.sass */
  .main-title {
    float: left;
    color: #666;
    font-weight: 400;
  }
}

/* line 71, ../sass/partials/_main.sass */
.item {
  background: gray;
  padding: 1em;
  cursor: pointer;
  margin-bottom: 0.5em;
}
/* line 76, ../sass/partials/_main.sass */
.item img {
  margin-right: 0.5em;
}

/* line 79, ../sass/partials/_main.sass */
.btn {
  background: #c72a35;
  padding: 0.5em;
  font-size: 1em;
  color: #ccc;
  cursor: pointer;
}

/* line 86, ../sass/partials/_main.sass */
.btn-hilite {
  background: #333;
  padding: 0.5em;
  font-size: 1em;
  color: #ccc;
  cursor: pointer;
}

/* line 93, ../sass/partials/_main.sass */
.sidePanel {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding: 1em;
}
@media (max-width: 651px) {
  /* line 93, ../sass/partials/_main.sass */
  .sidePanel {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 99, ../sass/partials/_main.sass */
.closeBtn {
  background: #c72a35;
  padding: 0.5em;
  font-size: 1em;
  color: #ccc;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  bottom: -12em;
  position: relative;
}
